body > div{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
body > div > div{
    padding: 4px;
}
#buffer{
    display: none;
}
canvas{
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
}
input[disabled]{
    border: 0;
}
