.chess td{
    border: 0;
    color: #000;
    cursor: pointer;
    font-size: 64px;
    line-height: 64px;
    user-select: none;
    width: 64px;
}
.chess tr:nth-child(even) td:nth-child(even),
.chess tr:nth-child(odd) td:nth-child(odd){
    background-color: #fff;
}
.chess tr:nth-child(even) td:nth-child(odd),
.chess tr:nth-child(odd) td:nth-child(even){
    background-color: #aaa;
}
