.eve-00{
    color: #f30202;
}

.eve-01{
    color: #dc3201;
}

.eve-02{
    color: #eb4903;
}

.eve-03{
    color: #f66301;
}

.eve-04{
    color: #e58000;
}

.eve-05{
    color: #f5f501;
}

.eve-06{
    color: #96f933;
}

.eve-07{
    color: #0f0;
}

.eve-08{
    color: #02f34b;
}

.eve-09{
    color: #4bc3c3;
}

.eve-10{
    color: #33f9f9;
}

.hs-common,
.wow-common,
.wow-priest{
    color: #fff;
}

.hs-epic{
    color: #641fa4;
}

.hs-legendary{
    color: #ffa500;
}

.hs-rare{
    color: #4169e1;
}

.wow-artifact{
    color: #e6cc80;
}

.wow-death-knight{
    color: #c41f3b;
}

.wow-demon-hunter{
    color: #a330c9;
}

.wow-druid{
    color: #ff7d0a;
}

.wow-epic{
    color: #a335ee;
}

.wow-evoker{
    color: #33937f;
}

.wow-heirloom{
    color: #0cf;
}

.wow-hunter{
    color: #a9d271;
}

.wow-legendary{
    color: #ff8000;
}

.wow-mage{
    color: #40c7eb;
}

.wow-monk{
    color: #00ff96;
}

.wow-paladin{
    color: #f58cba;
}

.wow-poor{
    color: #9d9d9d;
}

.wow-rare{
    color: #0070dd;
}

.wow-rogue{
    color: #fff569;
}

.wow-shaman{
    color: #0070de;
}

.wow-uncommon{
    color: #1eff00;
}

.wow-warlock{
    color: #8787ed;
}

.wow-warrior{
    color: #c79c6e;
}
