a{
    color: #4c4;
    cursor: pointer;
    text-decoration: underline;
}
.big{
    font-size: 225%;
}
body,
input,
select{
    background: #000;
    color: #ccc;
    font: 700 14px monospace;
    text-align: center;
}
#core-ui{
    background: #111;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 9;
}
#core-ui table{
    margin: 0;
}
#core-menu,
#core-repo,
.hidden{
    display: none;
}
#core-toggle,
.inline{
    display: inline-block;
}
.external{
    color: #f99;
}
.header{
    background: #333;
}
.header td{
    vertical-align: bottom;
}
hr{
    border: 4px solid #444;
    margin: 0;
}
input{
    border-color: #aaa;
    width: 200px;
}
input:disabled{
    border-color: #777;
}
input[type=button]{
    padding: 2px 7px;
}
input[type=button],
input[type=checkbox],
input[type=file]{
    width: auto;
}
input[type=button]:enabled,
input[type=checkbox]:enabled,
input[type=color]:enabled,
input[type=file]:enabled,
input[type=range]:enabled,
label,
select:enabled{
    cursor: pointer;
}
input[type=color],
.mini{
    width: 5em;
}
.left,
select{
    text-align: left;
}
.medium{
    font-size: 150%;
}
ol,
ul{
    margin: 0;
    text-align: left;
}
ol{
    padding-left: 30px;
}
.right{
    text-align: right;
}
table{
    border-collapse: collapse;
    margin: auto;
}
td,
textarea{
    border: 1px solid #444;
    padding: 4px;
    vertical-align: top;
}
textarea{
    background: #000;
    color: inherit;
    font: inherit;
    height: 190px;
    width: 490px;
}
ul{
    padding-left: 20px;
}

a:focus,
input:focus,
select:focus,
textarea:focus{
    outline: 2px solid #4c4;
}
a:hover{
    color: #07f;
}
tr:hover{
    background: #222;
}
