a{
    color: #4c4;
    cursor: pointer;
    text-decoration: underline;
}
.big{
    font-size: 300%;
}
body,
input,
select{
    background: #000;
    color: #aaa;
    font: bold 14px monospace;
    text-align: center;
}
#core-ui{
    background: #111;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 9999;
}
#core-ui table{
    margin: 0;
}
#core-menu,
#core-repo,
.hidden{
    display: none;
}
#core-toggle,
.inline{
    display: inline-block;
}
.external{
    color: #f70;
}
.header{
    background: #333;
}
hr{
    border: 4px solid #222;
    margin: 4px 0;
}
input{
    border-color: #aaa;
}
input[type=button]:not([disabled]),
input[type=checkbox]:not([disabled]),
input[type=color]:not([disabled]),
input[type=range]:not([disabled]),
label,
select:not([disabled]){
    cursor: pointer;
}
.left{
    text-align: left;
}
.medium{
    font-size: 200%;
}
.nounderline a{
    text-decoration: none;
}
pre,
ul{
    margin: 0;
    text-align: left;
}
.right{
    text-align: right;
}
table{
    border-collapse: collapse;
    margin: auto;
    vertical-align: top;
}
td{
    border: 1px solid #444;
    padding: 5px;
    vertical-align: top;
}
textarea{
    background: #000;
    color: #aaa;
    font-weight: bold;
    height: 150px;
    width: 420px;
}

a:hover{
    color: #777;
}
tr:hover{
    background: #111;
}
