a{
    color: #4c4;
    cursor: pointer;
    text-decoration: underline;
}
.big{
    font-size: 300%;
}
body,
input,
select{
    background: #000;
    color: #ccc;
    font: bold 14px monospace;
    text-align: center;
}
#core-ui{
    background: #111;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 9999;
}
#core-ui table{
    margin: 0;
}
#core-menu,
#core-repo,
.hidden{
    display: none;
}
#core-toggle,
.inline{
    display: inline-block;
}
.external{
    color: #f99;
}
.header{
    background: #444;
}
hr{
    border: 4px solid #444;
    margin: 0;
}
input{
    border-color: #aaa;
}
input[type=button]{
    padding: 2px 7px;
}
input[type=button]:enabled,
input[type=checkbox]:enabled,
input[type=color]:enabled,
input[type=range]:enabled,
label,
select:enabled{
    cursor: pointer;
}
.left{
    text-align: left;
}
.medium{
    font-size: 200%;
}
pre,
ul{
    margin: 0;
    text-align: left;
}
.right{
    text-align: right;
}
table{
    border-collapse: collapse;
    margin: auto;
    vertical-align: top;
}
td,
textarea{
    border: 1px solid #444;
    padding: 4px;
    vertical-align: top;
}
textarea{
    background: #000;
    color: inherit;
    font: inherit;
    height: 190px;
    width: 490px;
}

a:focus,
input:focus,
select:focus,
textarea:focus{
    outline: thin solid #4c4;
}
a:hover{
    color: #888;
}
tr:hover{
    background: #222;
}
