a{
    color: #4c4;
    cursor: pointer;
    text-decoration: underline;
}
a:hover{
    color: #777;
}
body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    text-align: center;
}
hr{
    border: 2px solid #333;
}
input{
    background: #000;
    color: #aaa;
    font-size: 100%;
    text-align: center;
}
input[readonly]{
    border: 0;
}
input[type=button]:not([disabled]),
input[type=color]:not([disabled]),
input[type=range]:not([disabled]),
select:not([disabled]){
    cursor: pointer;
}
pre{
    text-align: left;
}
select{
    font-size: 100%;
}
table{
    border-collapse: collapse;
    margin: auto;
}
td{
    border: 1px solid #444;
    padding: 5px;
}
textarea{
    background: #000;
    color: #aaa;
    height: 230px;
    width: 420px;
}
tr:first-child,
tr:hover{
    background: #333;
}
ul{
    margin: 0;
    text-align: left;
}
