entry,
list,
menubar,
notebook,
notebook tabs arrow,
notebook tabs tab,
text,
window{
    background-color: #000;
    background-image: none;
    color: #aaa;
    font-family: monospace;
    font-size: 15px;
}
#map{
    font-size: 2px;
}
overshoot.bottom,
overshoot.top{
    background: none;
}
paned separator{
    border-width: 2px;
}
