#grid,
GtkFileChooserWidget .view,
GtkListBox,
GtkMenuBar,
GtkNotebook,
GtkTextView,
GtkWindow{
    background-color: #000;
    color: #aaa;
    font-family: monospace;
}
GtkFileChooserWidget .view:selected{
    color: #fff;
}
GtkPaned,
GtkTextView:selected{
    background-color: #3c3b37;
}
GtkPlacesSidebar{
    border: 0;
}
#map{
    font-size: 2px;
}
.overshoot.bottom,
.overshoot.top{
    background: none;
}
