filechooser,
#grid,
list,
menubar,
notebook,
textview,
window{
    background-color: #000;
    color: #aaa;
    font-family: monospace;
}
filechooser.view:selected{
    color: #fff;
}
#map{
    font-size: 2px;
}
.overshoot.bottom,
.overshoot.top{
    background: none;
}
paned,
textview:selected{
    background-color: #3c3b37;
}
placessidebar{
    border: 0;
}
