a{
    color: #4c4;
}
body,
input[type=button],
textarea{
    background-color: #000;
    color: #ccc;
    font: 700 14px monospace;
}
.center{
    text-align: center;
}
code{
    border: 1px solid #444;
    display: block;
    padding: 5px;
    white-space: pre;
}
.external{
    color: #f99;
}
.gold{
    background-color: #650;
}
.header{
    background-color: #333;
    text-align: center;
}
.header td{
    vertical-align: bottom;
}
hr{
    border: 2px solid #444;
}
input{
    border: 2px solid #999;
}
input:disabled,
textarea:read-only{
    border-color: #555;
}
input[type=button]{
    padding: 2px 7px;
}
input[type=button]:enabled{
    cursor: pointer;
}
ol{
    margin: 0;
    padding-left: 30px;
}
.right{
    text-align: right;
}
table{
    border-collapse: collapse;
}
td{
    max-width: 700px;
}
td,
textarea{
    border: 1px solid #444;
    padding: 4px;
    vertical-align: top;
}
textarea{
    border-color: #999;
    height: 190px;
    width: 490px;
}
ul{
    margin: 0;
    padding-left: 20px;
}

a:focus,
input:focus,
textarea:focus{
    outline: 2px solid #4c4;
}
a:hover{
    color: #07f;
}
tr:hover{
    background-color: #222;
}
