a{
    color: #4c4;
}
body,
input[type=button]{
    background: #000;
    color: #aaa;
    font: bold 14px monospace;
}
.center{
    text-align: center;
}
.external{
    color: #f70;
}
.gold{
    background: #650;
}
.header{
    background: #333;
    font-size: 15px;
    text-align: center;
}
hr{
    border: 2px solid #333;
}
input[type=button]{
    cursor: pointer;
}
ol,
ul{
    margin: 0;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid #444;
    padding: 5px;
    vertical-align: top;
}
textarea{
    background: #000;
    color: #aaa;
    font-weight: bold;
    height: 150px;
    width: 420px;
}

a:focus,
input:focus,
select:focus,
textarea:focus{
    outline: thin solid #4c4;
}
a:hover{
    color: #777;
}
tr:hover{
    background: #111;
}
