a{
    color: #4c4;
}
body{
    margin: 8px;
}
body,
button,
input,
select,
textarea{
    background-color: #000;
    color: #ccc;
    font: 700 14px monospace;
}
button{
    padding: 2px 7px;
}
button,
.center,
input{
    text-align: center;
}
button,
input,
select{
    border: 2px solid #999;
    vertical-align: middle;
}
button:enabled,
select:enabled{
    cursor: pointer;
}
code{
    border: 1px solid #444;
    display: block;
    padding: 5px;
    white-space: pre;
}
.external{
    color: #f99;
}
.external::after{
    content: "↗";
    line-height: 1;
}
.gold{
    background-color: #540;
}
.header{
    background-color: #333;
    text-align: center;
}
.header td{
    vertical-align: bottom;
}
hr{
    border: 2px solid #444;
}
input{
    width: 200px;
}
input:invalid{
    border-color: #f00;
}
input:read-only,
textarea:read-only{
    border-color: #555;
}
li{
    text-align: left;
}
ol,
ul{
    margin: 0;
    padding-left: 30px;
}
.right{
    text-align: right;
}
table{
    border-collapse: collapse;
}
td{
    max-width: 700px;
}
td,
textarea{
    border: 1px solid #444;
    padding: 4px;
    vertical-align: top;
}
textarea{
    border-color: #999;
    box-sizing: border-box;
    height: 190px;
    max-width: 100%;
    width: 490px;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus{
    outline: 2px solid #4c4;
}
a:hover,
button:enabled:hover{
    color: #07f;
}
a:hover::after{
    color: #f00;
}
tr:hover{
    background-color: #111;
}
