#grid,
GtkListBox,
GtkNotebook,
GtkTextView,
GtkWindow{
    background-color: #000;
    color: #aaa;
    font-family: monospace;
}
GtkNotebook,
GtkTextView:selected,
GtkWindow{
    background-color: #3c3b37;
}
GtkPlacesSidebar{
    border: 0;
}
#map{
    font-size: 2px;
}
.overshoot.bottom,
.overshoot.top{
    background: none;
}
