GtkNotebook,
GtkWindow{
    background-color: #3c3b37;
    color: #aaa;
    font-family: monospace;
}
#grid,
GtkListBox,
GtkTextView{
    background-color: #000;
    color: #aaa;
    font-family: monospace;
}
GtkPlacesSidebar{
    border: 0;
}
GtkTextView:selected{
    background-color: #3c3b37;
}
#map{
    font-size: 6px;
}
.overshoot.bottom,
.overshoot.top{
    background: none;
}
